a {
  color:White;
}
body {
  background-color:rgb(234, 229, 72);
}
a:hover {
    text-decoration: none;
    color:rgb(32, 32, 33);
}
hr {
    border: none;
    height: 3px;
    background-color: #333;
}
.result:hover {
    text-decoration: none;
}
.result {
  display: block;
  text-decoration: none;
  color: black;
  position: relative;
}
